<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>主题 - Tale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="biezhi" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" href="/admin/images/favicon.png"/>
    <link href="/admin/plugins/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/admin/plugins/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/admin/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.css" rel="stylesheet">

    <link href="/admin/css/style.min.css?v=v1.0" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/admin/plugins/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="/admin/plugins/respond.js/1.3.0/respond.min.js"></script>

    <![endif]-->
</head>
<body class="fixed-left">
<div id="wrapper">
    <!--顶部菜单栏-->
    <div th:replace="/admin/topbar::topbar"></div>
    <!--左部菜单栏-->
    <div th:replace="/admin/leftbar::leftbar"></div>

    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">主题管理</h4>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3 text-center m-t-10">
                            <img class="attach-img bx-shadow" src="/admin/images/default.png" width="200" height="200" title="default"/>
                            <div class="clearfix m-t-10">
                                主题：<span>default</span>  <mark>（当前主题）</mark>
                            </div>
                            <div class="clearfix m-t-10">
                                <a class="btn btn-info" href="/admin/themes/setting"><span>主题设置</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="footer text-right">
                    2017 © <a href="https://github.com/biezhi" target="_blank">Tale</a>.
                </footer>
            </div>
        </div>
    </div>
</div>
        <script src="/admin/plugins/jquery/3.2.1/jquery.min.js"></script>
        <script src="/admin/plugins/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/admin/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.js"></script>

        <script src="/admin/js/jquery.app.js?v=v1.0"></script>
        <script src="/admin/js/base.js?v=v1.0"></script>
        <script type="text/javascript">

            var tale = new $.tale();

            /**
             * 启用主题
             * @param themeName
             */
            function activeTheme(themeName) {
                tale.alertConfirm({
                    title:'确定启用该主题吗?',
                    then: function () {
                        tale.post({
                            url : '/admin/themes/active',
                            data: {site_theme: themeName},
                            success: function (result) {
                                if(result && result.success){
                                    tale.alertOkAndReload('主题启用成功');
                                } else {
                                    tale.alertError(result.msg || '主题启用失败');
                                }
                            }
                        });
                    }
                });
            }

        </script>
</body>
</html>