
    <div id="main-part" class="giligili-left">

        <!--文章列表-->
        <div id="main-content">

            <article class="giligili-item post" th:each="BlogMessage:${recentBlogList}">
                <span class="sticky"></span>

                <div class="post-info" >
                    <div class="post-author"><a href="#" title="由Suyeq发布" rel="author">Suyeq</a>
                    </div>
                    <div class="post-meta">
                        <time itemprop="datePublished" th:text="${BlogMessage.time}">4月前</time>
                    </div>

                    <div class="post-preface">
                        <span class="tags" th:each="Label:${BlogMessage.labelList}">
                            <a href="#" rel="tag"  th:text="${Label.name}">Giligili</a>
                        </span>
                        <!--<span class="tags"><a href="#" rel="tag">WordPress</a></span>-->
                        <!--<span class="tags"><a href="#" rel="tag">主题</a></span>-->
                        <text th:text="${BlogMessage.describ}">从实习后期开始写的主题，期间断断续续，今天终于写出第一版了！这套主题是在写完Memory之后写的，所以手法娴熟了很多，大家可以来尝试一下哦！另外我也会开始着手于重构Memory主题~</text>
                    </div>
                    <div class="post-excerpt no-touch">
                        <div class="post-thumbnail"
                             style="background-image:url(front/img/rem.jpg)" th:style="'background-image:url(' + ${BlogMessage.imgUrl}+')'"></div>
                        <div class="post-thumbnail-shadow"></div>
                        <div class="text-info"><a href="#"
                                                  rel="bookmark" title="WordPress响应式二次元主题Giligili"><h3
                                class="post-title" th:text="${BlogMessage.title}">WordPress响应式二次元主题Giligili</h3>
                            <div class="excerpt"><p th:text="${BlogMessage.content}">
                                redis是一个键值对的数据库服务器，服务器中包含着若干个非空的数据库，每个非空数据库里又包含着若干个键值[&hellip;]</p></div>
                        </a>
                            <span class="category">
                                <a href="#" rel="category tag" th:each="Category:${BlogMessage.categoryList}" th:text="${Category.name}+'，'" th:if="${CategoryStat.count} ne ${CategoryStat.size}">大新闻</a>
                                <a href="#" rel="category tag" th:each="Category:${BlogMessage.categoryList}" th:text="${Category.name}" th:if="${CategoryStat.count} eq ${CategoryStat.size}">大新闻</a>
                                <!--<a href="#" rel="category tag">成长路</a>-->
                            </span>
                        </div>
                    </div>

                    <div class="post-about">
                        <span class="post-view"><i class="giligili giligili-view"></i> <span class="count" th:text="${BlogMessage.readnum}"> 3 </span> </span>
                        <span class="post-comment-num">
                            <a href="#"><i class="giligili giligili-comment"></i> <span class="count" th:text="${BlogMessage.conmentnum}"> 3 </span> </a></span>
                        <span class="post-like">
                            <a href="javascript:;" data-action="post_zan" data-id="2593" class="">
                                <i class="giligili giligili-zan"></i> <span class="count" th:text="${BlogMessage.votenum}"> 3 </span> </a> </span>
                    </div>

                </div>

                <img alt=''
                     src='front/img/lem6.jpg'
                     class='avatar avatar-48 photo post-author-avatar' height='48' width='48'/> <i
                    class="giligili giligili-certify-3"></i>
            </article>


        </div>
        <div id="index-pagination" class="giligili-item"><a href="#" class="read-more">(｡・`ω´･)点我查看更多！</a>
        </div>
    </div>

